@font-face {
  font-family: 'rickAndMorty';
  src: URL('../styles/Fonts/rick.ttf') format('truetype');
}
* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
}
.body {
  background-color: rgb(11, 4, 26);
}
.header {
  width: 100%;
  height: 50vh;
  background-image: url(../../public/images/rick-morty-collection-banner_2376x.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.title {
  margin-top: 40px;
  font-family: 'rickAndMorty';
  color: #52afc6;
}

.main .filter {
  background-color: #fff;
  border: solid rgba(0, 0, 0, 0.08) 1px;
  border-radius: 0.8rem;
  padding: 10px;
}
.form {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.form__label {
  font-size: 20px;
  color: #fff;
  font-family: 'rickAndMorty';
}
.div__name {
  width: 60%;
  display: flex;
  gap: 10px;
}
.div__specie {
  display: flex;
  gap: 10px;
}
.input__search {
  width: 40%;

  border: 2px solid #52afc6;
}
.list {
  padding: 10px;
  border: solid rgba(0, 0, 0, 0.08) 1px;
  border-radius: 0.8rem;
}

.card__list {
  margin: 30px 50px 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.card {
  background-color: rgb(26, 25, 47);
  border-radius: 5%;
}
.card:hover {
  box-shadow: 9px 9px 48px 7px rgba(111, 216, 19, 0.81);
}

.card__img {
  border: 8px solid #52afc6;
  border-radius: 5%;
}

.card__title {
  color: #fff;
}
.detail {
  color: #fff;
  font-family: 'rickAndMorty';
}
.text {
  color: #52afc6;
}
